.logo {
    width: 95px;
    height: 95px;
    border-radius: 28px;
 }
 body {
   margin: 1.5em;
   font-family: 'Poppins', sans-serif;
 }
 
 video{
    padding: 2em;
    width: 100%;
 
 }
 img{
    padding: 10px;
    width: 39%;
    height: 30em;
 }
 .piceve{
    padding:20px;
 }
 
 a {
   text-decoration: none;
   font-size: 1.3rem;
   color: black;
 
 }
 
 .hero-img {
   position: absolute;
   top: 0;
   left: 0;
   background:#dc4493;
   background-size: cover;
   background-position-x: 20%;
   background-position-y: 20%;
   width: 100%;
   height: 10vh;
   z-index: -1;
   animation: introLoad 2s forwards;
 }
 
 nav {
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(220,64,144,255);
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
 } 
 ul {
   list-style-type: none;
   padding: 0;
   margin-top: 8em;
 }
 
 li {
   padding: .75em 2em;
   display: block;
 }
 
 li:hover {
   background: #9a3081;
 }
 header {
   display: flex;
   justify-content: space-between ;
 }
 .menu {
   width: 3em;
   height: 32px;
   cursor: pointer;
 }
 
 
 .close {
   float: right;
   margin: 2em;
   width: 2.5em;
   cursor: pointer;
 }
 
 a {
   color: white;
   padding: .5em 1.5em;
 }
 
 a:hover {
   background: none;
   text-decoration: underline;
 
 }
 
 .list{
   padding: 0;
   justify-content: center;
   display: inline-block;
 }
 
 .open-nav {
   transform: translateX(0%);
 }
 
 
 @media only screen and (min-width:680px) {
 
   body {
      margin: 1.5em 5em;
      font-family: 'Poppins', sans-serif;
   } 
   nav {
   background-color: white;      
   }
   a{
      text-decoration: none;
      color: black; 
   }
   ul {
    list-style-type: none;
   }
 }
 
 @media only screen and (min-width:1200px) {
 
   .menu {
      display: none;
   }
 
   nav {
      transform: translateX(0);
      position: unset;
      display: block;
      width: auto;
      height: auto;
      background: none;
 
   }
 
   .close {
      display: none;
   }
 
   ul {
      display: flex;
      margin: 0;
   }
 
   a {
      color: white;
      padding: .5em 1.5em;
   }
 
   a:hover {
      background: none;
      text-decoration: underline;
 
   }
 
   .hero-img {
      left: unset;
      right: 0;
      width: 50%;
      height: 42em;
   }
   svg.path {
      fill: black;
   }
 
 }
 
 footer {
    font-size: 18px;
    line-height: 20px;
   border-radius: 20px;
   position: relative;
   width: 100%;
   height: 14em;
   left: 0px;
   bottom: 0px;
   background: linear-gradient(to right, #74309a, #9a3081);
 }
 .email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
 }
 
 .logo-f {
   padding-top: 5px;
   padding-left: 5px;
   height: 5em;
   width: 5em;
   border-radius: 1.5em;
 }
 
 .ft {
 margin-top: 0;
 padding: 0;
 color: white;
 }
 
 
 .row{
 padding-top: 10px;
 width: 85%;
 margin: auto;
 display: flex;
 flex-wrap: wrap;
 align-items: flex-start;
 justify-content: space-between;
 }
 .col {
    flex-basis: 25%;
    padding: 5px;
    color: white;
  }
 
 @media only screen and (min-width: 1200px) {
   .wrapper {
      width: 1200px;
      margin: 0 auto;
   }
 
 }
 
 @keyframes introLoad {
   from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }
 
   to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }
 }
 @keyframes moveArrow {
   from {
      transform: translateY(-30px);
   }
 
   to {
      transform: translateY(0px);
 
   }
 }
 
 
 @keyframes moveDown {
   from {
      transform: translateY(-100px);
   }
 
   to {
      transform: translateY(0);
      opacity: 1;
   }
 }